@charset "UTF-8";

/* All Style Sheet */
body {
    background-color: rgb(135, 222, 174);
}

/* Print Style Sheet */
@media print {
    body {        
        background-color: black;
    }     
    
    img {
        display: none; /*titra imagens na impressão*/
    }
    
    p{
        color: white;
    }   
}

/* Screen Style Sheet */
@media screen {
    body {        
        background-color: coral;
    }     
}